*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    min-width: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; 
    background-image: url('../img/bart-travel-van-the-simpsons-4k-live-wallpaper\ -\ frame\ at\ 0m19s.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}




header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    background: linear-gradient(90deg, rgba(0,0,0,0.0844712885154062) 0%, rgba(146,212,247,0.5690651260504201) 55%);

    z-index: 999;
}

.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}


.navbar ul {
    top: 0;
    display: flex;
    list-style-type: none; 
    padding: 0;
    gap: 50px;
}

.navbar li {
    margin-right: 20px;
    font-size: 2rem;
}
.navbar li a {
    text-decoration: none;
    font-size: 3rem;

    color: white;
}

.navbar li:last-child {
    margin-right: 0;
}

#homer-image {
    justify-content: flex-end;
    margin-top: 61px;
    margin-right: 10px;
    width: 273px;
    height: 150px;
}
#dohh-image {
    width: 152px;
    height: 102px;
}
main{
    width: 100%;
    height: 100%;
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

main div{
    width: 50%;
}

#thesimpsons-image{
    width: 700px;
}

.buttons{
    width: 100%;
}

.actions-buttons{
    
    font-size: 25px;
    font-weight: 900;
    display: inline-block;
    padding: 10px 35px;
    color: #ED3133;
    background-color: #FFD400;
    border: none;
    outline: none;
    cursor: pointer;
    clip-path: polygon(15% 0, 100% 0, 80% 100%,  0 100%);
}

#sinopse-main{
    width: 90%;
    height:70%;
    padding: 10px;
    /* background-color: aliceblue; */
    background: linear-gradient(252deg, rgba(138,152,153,0.0844712885154062) 4%, rgba(155,202,226,0.5690651260504201) 38%, rgba(0,0,0,0.8127626050420168) 49%);

}

#personagens-main {
    width: 75%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personagens {
    width: 100%;
    overflow-y: auto;
}

.personagens::-webkit-scrollbar {
    width: 8px; 
    background-color: transparent;
}

.personagens::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.356); 
    border-radius: 4px; 
}


.characters{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    justify-content: center;    
}

form{
 margin: 15px 0 15px 0;
}

input{
    padding: 10px;
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 25px;
}

#searchButton{
    width: 60px;
    height: 60px;
    padding: 20px;
    background-color: transparent;
    background-image: url("../img/search roquinha.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
}


.card {
    overflow: hidden;
    font-size: 18px;
    width: 255px;
    height: 300px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    text-align: center;
    background: linear-gradient(180deg, hsla(0, 35%, 87%, 0.664) 10%, hsla(0, 6%, 88%, 0.623) 40%, hwb(0 88% 8%) 48%);
    color: #000;
}

.card:hover {
    /* Gradiente linear com uma cor branca para simular o feixe de luz */
    background: linear-gradient(45deg, rgba(133, 139, 40, 0.8), transparent, rgba(192, 10, 10, 0.8));
    animation-play-state: paused;
    color: #fff;
    cursor: pointer;
}


.card img {
    width: 115px;
    height: 165px;
}

.buttonscards{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
#prev,
#next {
    margin-top: 10px;
    font-weight: 400;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    background-color: #FFD400;
    border: none;
    cursor: pointer;
}

#prev:hover,
#next:hover{
    background-color: #e7b221;
    scale: 1.2;

}
.sinopse{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 30px;
    color: white;
}
.sinopse h2{
    margin-bottom: 50px;
    font-size: 7rem;
    text-align:center;
}

.sinopse p{
    padding: 30px;
}

iframe{
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 1;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(45deg, rgb(165, 234, 243), transparent, rgb(192, 10, 10));
    color: #fff;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
}


/* Estilo para a modal */
/* Estilo para a modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5); 
}


.modal-content {
    background: linear-gradient(75deg, rgba(246,239,90,1) 5%, rgba(168,177,117,1) 46%, rgba(225,235,171,1) 98%);
    margin: 15% auto; 
    border: none;
    width: 50%; 
    height: 50%;
}

.modal-characters {
    height: 100%;
    display: flex;
    justify-content: center; /* Centraliza as divs filhas horizontalmente */
    align-items: center; /* Centraliza as divs filhas verticalmente */
}

.img-modal {
    padding: 20px;
    width: 30%;
    float: left;
}
.info-modal {
    padding: 20px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    float: right;
    width: 70%;
    text-align: center; /* Alinha o conteúdo das divs filhas ao centro */
    word-spacing: 2px;
}

 

.close {
    width: 40px;
    height: 30px;
    text-align: center;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    background-color: #ED3133;
}


@keyframes cardsanimation {
    50% {
        scale: 1.12; 
    }
}

.card  h2{
    margin-top: 50px;
}
.card  img{
    margin-top: 10px;
    animation: cardsanimation 1s infinite;
}

@keyframes blink {
    50% {
        background-color: #e0e4034c; 
    }
}

.nav-item.active {
    animation: blink 1s infinite;
}



/* Media query para Smartphone */



/* Media query para telas de  1420px */
@media only screen and (max-width: 1440px) {
    
    body {
        background-size: auto; /* Ajusta o tamanho do plano de fundo para a tela */
    }

    .modal-content {
        width: 60%; /* Ajusta a largura da modal para ocupar 60% da tela */
        height: 70%; /* Ajusta a altura da modal para ocupar 70% da tela */
        margin: 10% auto; /* Ajusta a margem da modal */
    }

    main {
        padding: 0 80px; /* Ajusta o espaçamento lateral do conteúdo principal */
    }

    .card {
        width: 350px; /* Ajusta a largura dos cards */
        height: 400px; /* Ajusta a altura dos cards */
        font-size: 20px; /* Ajusta o tamanho da fonte dos cards */
    }

    .characters {
        grid-template-columns: repeat(5, 1fr); /* Altera para 5 colunas */
    }

    .img-modal {
        width: 40%; /* Ajusta a largura da imagem na modal */
    }

    .info-modal {
        width: 60%; /* Ajusta a largura das informações na modal */
    }

    #thesimpsons-image {
        width: 800px; /* Ajusta a largura da imagem dos Simpsons */
    }

    #personagens-main {
        height: 90%; /* Ajusta a altura do contêiner principal dos personagens */
    }

    #sinopse-main {
        width: 80%; /* Ajusta a largura do contêiner da sinopse */
    }

    .sinopse h2 {
        font-size: 8rem; /* Ajusta o tamanho da fonte do título da sinopse */
    }

    .actions-buttons {
        font-size: 30px; /* Ajusta o tamanho da fonte dos botões */
    }
}




@media only screen and (max-width: 414px) {
    body {
        background-size: auto; /* Ajusta o tamanho do plano de fundo para a tela */
    }

    .modal-content {
        width: 70%; /* Ajusta a largura da modal para ocupar 70% da tela */
        height: 70%; /* Ajusta a altura da modal para ocupar 70% da tela */
        margin: 10% auto; /* Ajusta a margem da modal */
    }

    main {
        padding: 0 60px; /* Ajusta o espaçamento lateral do conteúdo principal */
    }

    .card {
        width: 320px; /* Ajusta a largura dos cards */
        height: 370px; /* Ajusta a altura dos cards */
        font-size: 18px; /* Ajusta o tamanho da fonte dos cards */
    }

    .characters {
        grid-template-columns: repeat(4, 1fr); /* Mantém 4 colunas */
    }

    .img-modal {
        width: 40%; /* Ajusta a largura da imagem na modal */
    }

    .info-modal {
        width: 60%; /* Ajusta a largura das informações na modal */
    }

    #thesimpsons-image {
        width: 600px; /* Ajusta a largura da imagem dos Simpsons */
    }

    #personagens-main {
        height: 80%; /* Ajusta a altura do contêiner principal dos personagens */
    }

    #sinopse-main {
        width: 90%; /* Ajusta a largura do contêiner da sinopse */
    }

    .sinopse h2 {
        font-size: 6rem; /* Ajusta o tamanho da fonte do título da sinopse */
    }

    .actions-buttons {
        font-size: 25px; /* Ajusta o tamanho da fonte dos botões */
    }
}